body {
  background-color: rgb(149, 216, 238);
}

h1 {
  color: black;
  text-align: left;
}
h2 {
    color: black;
    text-align: left;
  }
h3 {
  color: black;
  text-align: left;
}
h4 {
    color: black;
    text-align: center;
  }